@import 'https://www.duncanritchie.co.uk/css/main.css';
@import 'https://www.duncanritchie.co.uk/velut-json-generator/main.css';

#__next {
  width: 100%;
  min-height: 100%;
}

main {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

form div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

label {
  display: block;
  padding-bottom: 1rem;
}

input {
  height: 1.5rem;
  font-size: inherit;
  padding: 0.25rem 0.5rem;
}
